body {
    background-color: orange;
}

.mapTarget {
    width: 100%;
    height: 100vh;
    margin-right: 0;
}

.mapContainerTarget {
    padding: 0;
}

.smallProfileIcon {
width: 100%;
height: auto;
}
